{% extends "layouts/base.html" %}
{% block content %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% load filters %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

    <main role="main">

    <div class="container-fluid">
      <div class="fade-in">
        <form method="post" enctype="multipart/form-data">
        	{% csrf_token %}
            <!-- {{ form.as_p }} -->
            <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header"><strong>Crear Convenio</strong> </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="name">Nombre</label>
                      {{ form.nombre|add_class:"form-control" }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Apellido</label>
                      {{ form.apellido|add_class:"form-control" }}
                    </div>
                  </div>
                </div>
                <!-- /.row-->
                <!-- /.row-->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Tipo documento</label>
                        {{ form.tipodocumento|add_class:"form-control" }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Documento</label>
                      {{ form.documento|add_class:"form-control" }}
                    </div>
                  </div>
                </div>
                <!-- /.row-->
                 <!-- /.row-->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Teléfono</label>
                      {{ form.telefono|add_class:"form-control" }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Revisión</label>
                       {{ form.revision|add_class:"form-control" }}
                    </div>
                  </div>
                </div>
                <!-- /.row-->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="name">Tipo vehículo</label>
                      {{ form.tipovehiculo|add_class:"form-control" }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Placa</label>
                      {{ form.placa|add_class:"form-control" }}
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
            <button type="submit" class="btn btn-primary btn-sm">Aceptar</button>
            <a href="../" type="submit" class="btn btn-primary btn-sm">Volver</a>
        </form>
    </div>

          <hr>
{% endblock %}