{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}


{% if request.user.groups.all.0.name == 'CDA' %}
    <meta http-equiv="REFRESH" content="0;url={% url 'pendientes' %}">
{% endif %}



    <main role="main">

        <div class="container text-center mt-5">

          <div class="row mb-8">
            <div class="col-md-12">
              <h1 style="font-size: 28px;">Convenios CDA </h1>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h5>Lista de convenios</h5>
            </div>
          </div>
<!--
          <div class="row mb-5">

            <div class="card col-md-2">
              <h6 class="mt-4"><strong>Menú</strong></h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item {% if request.resolver_match.url_name == "crear" %}active{% endif %}">Crear</li>
                <li class="list-group-item {% if request.resolver_match.url_name == "leer" %}active{% endif %}">Visualizar</li>
                <li class="list-group-item">Configuración</li>
              </ul>
            </div>
-->
            <div class="col-md-12">

              <div class="table-responsive">

                {% if messages %}
                <ul class="messages list-group mb-3">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <div align="left" class="btn_crear mb-3">
                  <a href="crear" type="button" class="btn btn-primary">Crear convenio</a>
                </div>


                <table id="example" class="table table-striped table-hover">
                  <thead>
                    <tr>
                        <th>ID</th>
                      <th width="35%">Nombre</th>
                      <th>Tipo Doc</th>
                      <th>Documento</th>
                      <th>Teléfono</th>
                      <th>Placa</th>
                      <th>Valor</th>
                      <th>Empresa</th>
                      <th>Vehículo</th>
                      <th>Estado</th>
                      <th>Acciones</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for referidos in object_list %}
                    <tr>
                      <td>{{ referidos.id }}</td>
                      <td>{{ referidos.nombre }} {{ referidos.apellido }}</td>
                      <td>{{ referidos.tipodocumento }}</td>
                      <td>{{ referidos.documento }}</td>
                      <td>{{ referidos.telefono }}</td>
                      <td>{{ referidos.placa }}</td>
                      <td>{{ referidos.valor }}</td>
                      <td>{{ referidos.empresa }}</td>
                      <td>{{ referidos.tipovehiculo }}</td>
                      <td>{{ referidos.estado }}</td>
                      <td>
                        <form method="POST" action="eliminar/{{referidos.id}}">
                          {% csrf_token %}
                          <div class="btn-group">
                            <a href="detalle/{{referidos.id}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                            {% if request.user.groups.all.0.name == 'ADMIN' %}
                              <a href="editar/{{referidos.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                              <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                              Eliminar
                            </button>
                            {% endif %}
                            <!-- <a href="eliminar/{{referidos.id}}" title="Eliminar"><i class="fas fa-trash"></i> </a> -->
                          </div>

                        </form>

                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>

            <div class="pag ination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; Pimero</a>
                        <a href="?page={{ page_obj.previous_page_number }}">Atras</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">Ultimo &raquo;</a>
                    {% endif %}
                </span>
            </div>

            </div>

          </div>

          <hr>
  <script type="text/javascript">
      function eliminar() {
        var x = confirm("Eliminar Producto ?");
        if (x)
          return true;
        else
          return false;
      }


        $(document).ready(function() {
            alert(1);
            $('#example').DataTable();
        } );
    </script>
{% endblock %}