{% extends "layouts/base.html" %}
{% block content %}
{% load static %}
{% load humanize %}

    <main role="main">

    <div class="container-fluid">
      <div class="fade-in">
          <div class="row">
              <div align="left" class="btn_crear mb-3">
                  <a href="../" type="button" class="btn btn-primary btn-sm">Volver</a>
                </div>
          </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header"><strong>Datos básicos</strong> </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="name">Nombre</label>
                      <input class="form-control" disabled id="name" type="text" value="{{object.nombre}}" placeholder="Enter your name">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Apellido</label>
                      <input class="form-control" disabled id="ccnumber" type="text" value="{{object.apellido}}">
                    </div>
                  </div>
                </div>
                <!-- /.row-->
                <!-- /.row-->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Tipo documento</label>
                      <input class="form-control" disabled id="ccnumber" type="text" value="{{object.tipodocumento}}">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Documento</label>
                      <input class="form-control" disabled id="ccnumber" type="text" value="{{object.documento}}">
                    </div>
                  </div>
                </div>
                <!-- /.row-->
                 <!-- /.row-->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Teléfono</label>
                      <input class="form-control" disabled id="ccnumber" type="text" value="{{object.telefono}}">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Empresa</label>
                      <input class="form-control" disabled id="ccnumber" type="text" value="{{object.empresa}}">
                    </div>
                  </div>
                </div>
                <!-- /.row-->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="name">Tipo vehículo</label>
                      <input class="form-control" disabled id="name" type="text" value="{{object.tipovehiculo}}" placeholder="Enter your name">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Placa</label>
                      <input class="form-control" disabled id="ccnumber" type="text" value="{{object.placa}}">
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- /.col-->
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header"><strong>Revisión</strong> </div>
              <div class="card-body">
                <!-- /.row-->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Valor Revisión</label>
                      <input class="form-control" disabled id="ccnumber" type="text" value="{{object.valor}}">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Estado</label>
                      <input class="form-control" disabled id="ccnumber" type="text" value="{{object.estado}}">
                    </div>
                  </div>
                </div>
                <!-- /.row-->
                 <!-- /.row-->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Creado por:</label>
                      <input class="form-control" disabled id="ccnumber" type="text" value="{{object.creador}}">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Fecha creación</label>
                      <input class="form-control" disabled id="ccnumber" type="text" value="{{object.fechaCreacion|date:"d-M-Y"}}">
                    </div>
                  </div>
                </div>
                <!-- /.row-->
                 <!-- /.row-->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Fecha actualización:</label>
                      <input class="form-control" disabled id="ccnumber" type="text" value="{{object.fechaModificacion|date:"d-M-Y"}}">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Fecha pago</label>
                      <input class="form-control" disabled id="ccnumber" type="text" value="{{object.fechaPago|date:"d-M-Y"}}">
                    </div>
                  </div>
                </div>
                <!-- /.row-->
                 <!-- /.row-->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="ccnumber">Fecha conciliación</label>
                      <input class="form-control" disabled id="ccnumber" type="text" value="{{object.fechaConciliacion|date:"d-M-Y"}}">
                    </div>
                  </div>
                 <!-- /.row-->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="ccnumber">Observaciones:</label>
                        <textarea class="form-control" disabled id="ccnumber" type="text" value="{{object.observaciones}}"></textarea>
                    </div>
                  </div>
                </div>
                <!-- /.row-->

              </div>
            </div>
          </div>
          <!-- /.col-->
        </div>
      </div>
    </div>

          <hr>
{% endblock %}